body{
	background-color:pink;
}
h1{
	font-size: 60px;
    color: #cc5353;
    text-align: center;
    padding: 20px;
    margin-left:-40px;
}
nav{
	text-align: center;
}

.gameboxes{
	width: 70%;
    height: 80%;
    margin: 0 250px;
	padding:20px;
}

.boxes{
	border:5px solid black;
	border-radius: 15px;
	width: 25%;
	height:21vh;
	text-align: center;
	display:inline-block;
	margin:-3px;

}

.p1clicked{
	
	font-size:220px;
	text-align:center;
	margin-bottom:;
}

.p2clicked{
	
	font-size:220px;
	text-align:center;

}

.show{
	width:80%;
	padding:20px;
	margin:20px;
	font-size:35px;
	text-align:center;
}
