body{
	background-color:pink;
}
h1{
	font-size: -webkit-xxx-large;
    color: #cc5353;
    text-align: center;
    padding: 20px;
}


}
nav{
	text-align: center;
}

.gameboxes{
	width: 80%;
    height: 80%;
    margin: 0 auto;
	padding:20px;
}

.boxes{
	border:2px solid black;
	border-radius: 15px;
	width: 30%;
	height:21vh;
	text-align: center;
	display:inline-block;
	margin:-3px;

}

.p1clicked{
	background:green;
	font-size:220px;
	text-align:center;
	margin-bottom:;
}

.p2clicked{
	background:grey;
	font-size:220px;
	text-align:center;

}

.show{
	width:80%;
	padding:20px;
	margin:20px;
	font-size:35px;
	border:1px solid pink;
	text-align:center;
}

.gameover{
	pointer-events: none;
}